<nz-header>
  <div class="app-header">
    <div class="logo">
      <img src="assets/images/medorion-circles-row.svg" alt="Medorion" class="logo-img" />
      <nz-breadcrumb class="app-breadcrumb">
        <nz-breadcrumb-item *ngFor="let breadcrumb of breadcrumbs; let last = last">
          <!-- <a *ngIf="breadcrumb.url && !last" [routerLink]="breadcrumb.url">{{ breadcrumb.label }}</a> -->
          <span>{{ breadcrumb.label }}</span>
        </nz-breadcrumb-item>
      </nz-breadcrumb>
    </div>

    <div class="header-right">
      <ul nz-menu nzMode="horizontal" class="app-menu">
        <li nz-submenu nzTitle="Examples" nzIcon="appstore">
          <ul>
            <li nz-menu-item>
              <a routerLink="/examples/buttons">
                <span nz-icon nzType="control" nzTheme="outline"></span>
                Buttons
              </a>
            </li>
            <li nz-menu-item>
              <a routerLink="/examples/forms">
                <span nz-icon nzType="form" nzTheme="outline"></span>
                Forms
              </a>
            </li>
            <li nz-menu-item>
              <a routerLink="/examples/decorators">
                <span nz-icon nzType="tags" nzTheme="outline"></span>
                Decorators
              </a>
            </li>
            <li nz-menu-item>
              <a routerLink="/examples/pub-sub">
                <span nz-icon nzType="share-alt" nzTheme="outline"></span>
                Pub-Sub System
              </a>
            </li>
            <li nz-menu-item>
              <a routerLink="/examples/exceptions">
                <span nz-icon nzType="bug" nzTheme="outline"></span>
                Exception Testing
              </a>
            </li>
            <li nz-menu-item>
              <a routerLink="/examples/list-items">
                <span nz-icon nzType="unordered-list" nzTheme="outline"></span>
                List Items (Example)
              </a>
            </li>
            <li nz-menu-item>
              <a routerLink="/examples/todo-items">
                <span nz-icon nzType="check-square" nzTheme="outline"></span>
                Todo Items (Example UI + Server)
              </a>
            </li>
          </ul>
        </li>
        <li nz-submenu nzTitle="Backoffice" nzIcon="user">
          <ul>
            <li nz-menu-item>
              <a routerLink="/backoffice/settings">
                <span nz-icon nzType="setting" nzTheme="outline"></span>
                Settings
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <!-- User Dropdown -->
      <div class="user-dropdown">
        <a nz-dropdown [nzDropdownMenu]="menu">
          <nz-avatar *ngIf="(currentUser$ | async)?.picture; else defaultAvatar" [nzSrc]="(currentUser$ | async)?.picture" nzSize="small">
          </nz-avatar>
          <ng-template #defaultAvatar>
            <nz-avatar nzIcon="user" nzSize="small"></nz-avatar>
          </ng-template>
          <span class="user-details">
            <div class="user-email">{{ (currentUser$ | async)?.email || 'Loading...' }}</div>
          </span>
          <nz-icon nzType="down" />
        </a>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu nzSelectable>
            <li nz-menu-item>
              <a routerLink="/backoffice/settings">
                <span nz-icon nzType="setting" nzTheme="outline"></span>
                Settings
              </a>
            </li>
            <li nz-menu-item (click)="logout()" (keydown.enter)="logout()" (keydown.space)="logout()" tabindex="0">
              <nz-icon nzType="logout" nzTheme="outline"></nz-icon>
              Logout
            </li>
          </ul>
        </nz-dropdown-menu>
      </div>
    </div>
  </div>
</nz-header>
