<nz-layout class="solution-layout">
  <!-- Collapsible Sidebar -->
  <nz-sider class="solution-sidebar" [nzCollapsed]="isCollapsed" [nzWidth]="256" [nzCollapsedWidth]="80" nzTheme="light">
    <!-- Sidebar Header -->
    <div class="sidebar-header">
      <h3 *ngIf="!isCollapsed && solutionName" class="sidebar-title">
        <nz-icon nzType="appstore" class="title-icon"></nz-icon>
        {{ solutionName }}
      </h3>
      <nz-icon
        *ngIf="isCollapsed && solutionName"
        nzType="appstore"
        class="collapsed-icon"
        nz-tooltip
        [nzTooltipTitle]="solutionName"
        nzTooltipPlacement="right"
      >
      </nz-icon>
    </div>
    <div nz-menu-divider></div>
    <!-- Sidebar Menu -->
    <ul nz-menu nzMode="inline" class="sidebar-menu">
      <!-- Overview -->
      <li
        nz-menu-item
        [routerLink]="['overview']"
        routerLinkActive="ant-menu-item-selected"
        [nz-tooltip]="isCollapsed ? 'Overview' : null"
        nzTooltipPlacement="right"
      >
        <nz-icon nzType="dashboard" nzTheme="outline"></nz-icon>
        <span *ngIf="!isCollapsed">Overview</span>
      </li>

      <!-- Objectives -->
      <li
        nz-menu-item
        [routerLink]="['objectives']"
        routerLinkActive="ant-menu-item-selected"
        [nz-tooltip]="isCollapsed ? 'Objectives' : null"
        nzTooltipPlacement="right"
      >
        <nz-icon nzType="aim" nzTheme="outline"></nz-icon>
        <span *ngIf="!isCollapsed">Objectives</span>
      </li>

      <!-- Business Operations Category -->
      <li nz-menu-divider></li>
      <li class="menu-category mb-4" *ngIf="!isCollapsed">
        <span class="category-title">Business Operations</span>
      </li>
      <li
        nz-menu-item
        [routerLink]="['event-scheduler']"
        routerLinkActive="ant-menu-item-selected"
        [nz-tooltip]="isCollapsed ? 'Event Scheduler' : null"
        nzTooltipPlacement="right"
      >
        <nz-icon nzType="schedule" nzTheme="outline"></nz-icon>
        <span *ngIf="!isCollapsed">Event Scheduler</span>
      </li>
      <li
        nz-menu-item
        [routerLink]="['event-tracking']"
        routerLinkActive="ant-menu-item-selected"
        [nz-tooltip]="isCollapsed ? 'Event Tracking' : null"
        nzTooltipPlacement="right"
      >
        <nz-icon nzType="line-chart" nzTheme="outline"></nz-icon>
        <span *ngIf="!isCollapsed">Event Tracking</span>
      </li>

      <!-- Configurations Category -->
      <li nz-menu-divider></li>
      <li class="menu-category mb-4" *ngIf="!isCollapsed">
        <span class="category-title">Configurations</span>
      </li>
      <li
        nz-menu-item
        [routerLink]="['events-definition']"
        routerLinkActive="ant-menu-item-selected"
        [nz-tooltip]="isCollapsed ? 'Events Definition' : null"
        nzTooltipPlacement="right"
      >
        <nz-icon nzType="calendar" nzTheme="outline"></nz-icon>
        <span *ngIf="!isCollapsed">Events Definition</span>
      </li>
      <li class="menu-category mb-4" *ngIf="!isCollapsed">
        <span class="category-title">Content Library</span>
      </li>
      <li
        nz-menu-item
        [routerLink]="['messages']"
        routerLinkActive="ant-menu-item-selected"
        [nz-tooltip]="isCollapsed ? 'Messages' : null"
        nzTooltipPlacement="right"
      >
        <nz-icon nzType="message" nzTheme="outline"></nz-icon>
        <span *ngIf="!isCollapsed">Messages</span>
      </li>
      <li
        nz-menu-item
        [routerLink]="['sms-templates']"
        routerLinkActive="ant-menu-item-selected"
        [nz-tooltip]="isCollapsed ? 'SMS Templates' : null"
        nzTooltipPlacement="right"
      >
        <nz-icon nzType="mobile" nzTheme="outline"></nz-icon>
        <span *ngIf="!isCollapsed">SMS Templates</span>
      </li>
      <li
        nz-menu-item
        [routerLink]="['ivr-templates']"
        routerLinkActive="ant-menu-item-selected"
        [nz-tooltip]="isCollapsed ? 'IVR Templates' : null"
        nzTooltipPlacement="right"
      >
        <nz-icon nzType="phone" nzTheme="outline"></nz-icon>
        <span *ngIf="!isCollapsed">IVR Templates</span>
      </li>
      <li
        nz-menu-item
        [routerLink]="['email-templates']"
        routerLinkActive="ant-menu-item-selected"
        [nz-tooltip]="isCollapsed ? 'Email Templates' : null"
        nzTooltipPlacement="right"
      >
        <nz-icon nzType="mail" nzTheme="outline"></nz-icon>
        <span *ngIf="!isCollapsed">Email Templates</span>
      </li>
      <li
        nz-menu-item
        [routerLink]="['facebook-templates']"
        routerLinkActive="ant-menu-item-selected"
        [nz-tooltip]="isCollapsed ? 'Facebook Templates' : null"
        nzTooltipPlacement="right"
      >
        <nz-icon nzType="facebook" nzTheme="outline"></nz-icon>
        <span *ngIf="!isCollapsed">Facebook Templates</span>
      </li>
    </ul>

    <!-- Collapse Toggle Button -->
    <div class="collapse-trigger">
      <button nz-button nzType="text" (click)="isCollapsed = !isCollapsed" class="collapse-btn">
        <nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" nzTheme="outline"> </nz-icon>
      </button>
    </div>
  </nz-sider>

  <!-- Main Content Area -->
  <nz-layout class="main-layout">
    <nz-content class="main-content">
      <div class="content-wrapper">
        <div *ngIf="!solutionId" class="no-solution">
          <h2>No Solution Selected</h2>
          <p>Please choose a solution from the navigation menu.</p>
        </div>
        <!-- Router outlet for child routes -->
        <div class="router-content">
          <router-outlet></router-outlet>
        </div>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
